{% extends "layout.html" %}
<!-- Title -->
{% block title %}Index{% endblock %}
<!-- Active TitleBar Name -->
{% block navitems %}
	<li class="active"><a href="/">Dashboard</a></li>
	<li><a href="/vulnerabilities">Vulnerabilities</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><button class='btn' id='drop'>Drop Packages</button></li>
{% endblock %}
<!-- Main content -->
{% block content %}
	<div class="row">
  		<div class="col-lg-12">
    		<div class="panel panel-default">
      			<div class="panel-heading">Currently Installed Packages</div>
      			<div class="panel-body">
        			<div class="row">
          				<div class="col-lg-12">
            				<div class="table-responsive">
								<table 
									id="packages" 
									cellspacing="0"
									class="table table-bordered table-hover table-striped"  
									width="100%"
								>
							        <thead>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
							        </thead>
							        <tfoot>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
									</tfoot>
									<tbody>
									</tbody>
							    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}

	<script type='text/javascript'>

		$(document).ready(function() {
			
			var JSON_data = {{ package_JSON_data|safe }};
			var package;
			var data = [];
			
			for (package in JSON_data) {				
				data.push( [JSON_data[package]['package_name'], JSON_data[package]['version'], JSON_data[package]['architecture'] ]);
			}

			$('#packages').DataTable( {
				data: 			data,
		        "lengthMenu":   [ 10, 15 ],
		        "paging":       true,
		        "processing":   true,
		        "ordering":     true,
		        "order":        [[ 0, "asc" ]],
		        "info":         true,
		        stateSave: 		true
		    } );

		    $('#drop').on('click', function() {
				location.href += '/?package_drop=true';
			});
		} );

	</script>

{% endblock %}