{% extends "layout.html" %}
<!-- Title -->
{% block title %}Index{% endblock %}
<!-- Main content -->
{% block content %}
	<div class="row">
  		<div class="col-lg-12">
    		<div class="panel panel-default">
      			<div class="panel-heading">Anomaly Detected</div>
      			<div class="panel-body">
        			<div class="row">
          				<div class="col-lg-12">
            				<div class="table-responsive">
								<table 
									id="packages" 
									class="table table-bordered table-hover table-striped" 
									cellspacing="0" 
									width="100%"
								>
							        <thead>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
							        </thead>
							        <tfoot>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
									</tfoot>
									<tbody>
										{% for packages in package_JSON_data %}
											<tr>
												<td>{{ packages[0] }}</td>
												<td>{{ packages[1] }}</td>
												<td>{{ packages[2] }}</td>
											</tr>
										{% endfor %}
									</tbody>
							    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}