{% extends "layout.html" %}
<!-- Title -->
{% block title %}Index{% endblock %}
<!-- Main content -->
{% block content %}
	<div class="row">
  		<div class="col-lg-12">
    		<div class="panel panel-default">
      			<div class="panel-heading">Anomaly Detected</div>
      			<div class="panel-body">
        			<div class="row">
          				<div class="col-lg-12">
            				<div class="table-responsive">
								<table 
									id="packages" 
									class="table table-bordered table-hover table-striped" 
									cellspacing="0" 
									width="100%"
								>
							        <thead>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
							        </thead>
							        <tfoot>
							            <tr>
							                <th>Package Name</th>
							                <th>Package Version</th>
							                <th>Affected System</th>
							            </tr>
							        </tfoot>
							    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}

	<script type="text/javascript">
		
		var table = $('#packages').DataTable();

		table.row.add( {
			"name":       "Tiger Nixon",
			"position":   "System Architect",
			"salary":     "$3,120",
			"start_date": "2011/04/25",
			"office":     "Edinburgh",
			"extn":       "5421"
		} ).draw();
		
	</script>
	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}