{% extends "layout.html" %}
<!-- Title -->
{% block title %}Vulnerabilities{% endblock %}
<!-- Active TitleBar Name -->
{% block navitems %}
	<li><a href="/">Dashboard</a></li>
	<li class="active"><a href="/vulnerabilities">Vulnerabilities</a></li>
	<li><a href="/log">Log</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/profile">Profile</a></li>
{% endblock %}
<!-- Main content -->
{% block content %}

<h1 style='display: inline-block;'>_{{ package }} Vulnerabilites</h1>

<!-- Modal Buttons -->
<button 
	style="float: right; margin-right: 10px;" 
	class="btn btn-md btn-info" 
	data-toggle="modal"
	data-target="#modallog"
>
	Review Update Log
</button>
<button 
	style="float: right; margin-right: 10px;" 
	class="btn btn-md btn-danger" 
	data-toggle="modal"
	data-target="#modalversion"
>
	Manually Update Version
</button>
<button 
	style="float: right; margin-right: 10px;" 
	class="btn btn-md btn-danger" 
	data-toggle="modal"
	data-target="#modalcode"
>
	Manually Update Package
</button>

<!-- Modal for Update Log -->
<div class="modal fade" id="modallog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" style="display: inline-block;">Update Log for <b>{{ package }}</b></h5>
        		<button
					data-toggle="modal"
					class="btn btn-md btn-info"
					data-target="#modalupdateloginfo"
				>
					<span class="glyphicon glyphicon-question-sign"></span>
				</button>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
		        <div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
				  			<div class="panel-heading">Update Log</div>
				  			<div class="panel-body">
				    			<div class="row">
				      				<div class="col-lg-12">
				        				<div class="table-responsive">
											<table 
												id="update_log" 
												cellspacing="0"
												class="table table-bordered table-hover table-striped"  
												width="100%"
											>
										        <thead>
										            <tr>
										            	<th>Original File Path</th>
										                <th>Update Type</th>
										                <th>Comment</th>
										                <th>Date</th>
										                <th>Implementation Type</th> 
										                <th>Revert</th>
										            </tr>
										        </thead>
												<tbody>
												</tbody>
										    </table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- Modal for Update Log Info -->
<div class="modal fade" id="modalupdateloginfo" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
      			<h3 class="modal-title" style="display: inline-block;">Update Log Help</b></h3>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
				<h4>Revert Update</h4>
				<p>This allows you to revert an update that you have previously applied, by either going back to the previous version your package was running at before, or returning your file to the state it was at before a build-from-source update occured. Check on the documentation page if you are unsure about any terms used.</p>
				<hr>
				<h4>Table Layout</h4>
				<h5><b><i>Update Type</i></b></h5>
				<p>Gives information about the type of update that was appplied, be it build-from-source, or a version update. Check on the documentation page if you are unsure about any terms used.</p>
				<h5><b><i>Comment</i></b></h5>
				<p>An optional comment provided by the implementer.</p>
				<h5><b><i>Date</i></b></h5>
				<p>The date that the update occured, in <emp>UTC format</emp></p>
				<h5><b><i>Implementation Type</i></b></h5>
				<p>Gives information about the implementation type that was appplied, be it automatic <b>(by the system)</b>, or manual <b>(by a super-user)</b>. Check on the documentation page if you are unsure about any terms used.</p>
				<hr>
      		</div>
    	</div>
  	</div>
</div>

<!-- Modal for Version -->
<div class="modal fade" id="modalversion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" style="display: inline-block;">Update Version for <b>{{ package }}</b></h5>
        		<button
					data-toggle="modal"
					class="btn btn-md btn-info"
					data-target="#modalversioninfo"
				>
					<span class="glyphicon glyphicon-question-sign"></span>
				</button>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
		        <form action="{{ url_for('version_update') }}" method="post" id="version-form">
		          	<div class="form-group">
			            <label for="recipient-name" class="col-form-label">Version to Upgrade To</label>
			            <input type="text" class="form-control" id="version-name" name="version-name" placeholder="1.0.1" required="true">
		          	</div>
		          	<div class="form-group">
			            <label for="recipient-name" class="col-form-label">Version Repository Link <i>(Optional)</i></label>
			            <input type="text" class="form-control" id="link" name="link" placeholder="https://link.com">
		          	</div>
		          	<div class="form-group">
			            <label for="recipient-name" class="col-form-label">Comment</label>
			            <input type="text" class="form-control" id="comment" name="comment" placeholder="Great update">
		          	</div>
		          	<input type="hidden" name="package" value="{{ package }}">
		          	<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <input type="submit" class="btn btn-primary" id="version-form" value="Submit"></button>
		      		</div>
		        </form>
      		</div>
    	</div>
  	</div>
</div>

<!-- Modal for Version Info -->
<div class="modal fade" id="modalversioninfo" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
      			<h3 class="modal-title" style="display: inline-block;">Version Update Help</b></h3>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
				<h4>Version to Upgrade To</h4>
				<p>The version can either be in the form <code>1.0.1</code> or the system version form <code>ubuntu@1.0.1</code>.</p>
				<hr>
				<h4>Version Repository Link</h4>
				<p>If you do not want to give the version number, or the version is not currently present on your system, you can provide a link to the version here, and <b>must leave the version number input blank</b>.</p>
				<hr>
				<h4>Comment</h4>
				<p>An optional comment that you provide, in case you want to revert any changes in the future.</p>
      		</div>
    	</div>
  	</div>
</div>

<!-- Modal for Package -->
<div class="modal fade" id="modalcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" style="display: inline-block;">Rebuild Code for <b>{{ package }}</b></h5>
        		<button
					data-toggle="modal"
					class="btn btn-md btn-info"
					data-target="#modalmanualinfo"
				>
					<span class="glyphicon glyphicon-question-sign"></span>
				</button>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
		        <form action="{{ url_for('manual_update') }}" method="post" id="manual-form">
		          	<div class="form-group">
			            <label for="recipient-name" class="col-form-label">File Path</label>			
			            <input type="text" class="form-control" id="file-path" name="file-path" placeholder="test/test.py" required="true">
		          	</div>
		          	<div class="form-group">
		            	<label for="message-text" class="col-form-label">Code to Insert</label>
		            	<textarea class="form-control" id="inserted-code" name="inserted-code" placeholder="&* print('Hello World')" required="true"></textarea>
		          	</div>
		          	<div class="form-group">
			            <label for="recipient-name" class="col-form-label">Comment</label>
			            <input type="text" class="form-control" id="comment" name="comment" placeholder="Great update">
		          	</div>
		          	<input type="hidden" name="package" value="{{ package }}">
		          	<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <input type="submit" class="btn btn-primary" id="manual-form" value="Submit"></button>
		      		</div>
		        </form>
      		</div>
    	</div>
  	</div>
</div>

<!-- Modal for Manual Info -->
<div class="modal fade" id="modalmanualinfo" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
      			<h3 class="modal-title" style="display: inline-block;">Manual Patch Help</b></h3>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
		        <h4>Path File</h4>
				<p>The path file must be relative to wherever the <b>AutoInject</b> folder is stored on your system.</p>
				<hr>
				<h4>Code To Insert</h4>
				<p>The code to insert must follow a specific syntax, unless you want to blindly insert your code into a file.</p>
				<code>
					&amp;* &lt;insert after this specific code&gt; <br/>
					&amp;-- &lt;remove this line&gt; <br/>
					&amp;++ &lt;replace it with this line&gt; <br/>
					&lt;no symbols just means append after this line&gt;
				</code>
				<h5><b>Example Input:</b></h5>
				<code>
					&amp;* <em>class</em> <var>Hello:</var> <br/>
					&amp;-- print("Hello") <br/>
					&amp;++ print("Hola") <br/>
					<em>return "Hola"</em>
				</code>
				<hr>
				<h4>Comment</h4>
				<p>An optional comment that you provide, in case you want to revert any changes in the future.</p>
      		</div>
    	</div>
  	</div>
</div>

<!-- DataTable -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
  			<div class="panel-heading">Current Vulnerabilities</div>
  			<div class="panel-body">
    			<div class="row">
      				<div class="col-lg-12">
        				<div class="table-responsive">
							<table 
								id="package_vulnerabilities" 
								cellspacing="0"
								class="table table-bordered table-hover table-striped"  
								width="100%"
							>
						        <thead>
						            <tr>
						                <th>CVE ID</th>
						                <th>References</th>
						                <th>Summary</th>
						                <th>CVSS Rating</th>
						                <th>Update Package</th>
						            </tr>
						        </thead>
						        <tfoot>
						            <tr>
						                <th>CVE ID</th>
						                <th>References</th>
						                <th>Summary</th>
						                <th>CVSS Rating</th>
						                <th>Update Package</th>
						            </tr>
								</tfoot>
								<tbody>
								</tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}

	<script type='text/javascript'>

		$(document).ready(function() {

			var JSON_data = {{ vulnerabilities|safe }};
			var vulnerability;
			var data = [];

			for (vulnerability in JSON_data) {	
				data.push( 
					[ 
						JSON_data[vulnerability]['id'],
						JSON_data[vulnerability]['references'],
						JSON_data[vulnerability]['summary'],
						JSON_data[vulnerability]['cvss']
					] 
				);
			}

			var package_vulnerabilities = $('#package_vulnerabilities').DataTable( {
				data: 			data,
				"columns" : [
					{ "data" : [0] },
					{ 
						"data" : [1],
						"render" : function(data, type, row, meta) {
							var newList = data.toString().split(",");
							var newString = "";
							if (type == 'display') {
								for (var i = 0; i < newList.length; i++) {	
									newString += '<a href="' + newList[i] + '">' + newList[i] + '</a></br>';
								}
							}
							return newString;
						}
					},
					{ 	
						"data" : [2],
						"width" : "25%" 
					},
					{ "data" : [3] },
					{ "defaultContent" : "<button class='btn btn-success' id='update_package'>Update Package</button>" }
				],
		        "lengthMenu":   [ 5, 10, 15 ],
		        "paging":       true,
		        "ordering":     true,
		        "order":        [[ 3, "desc" ]],
		        "info":         true,
		        stateSave: 		true
			});

			$('#package_vulnerabilities tbody').on('click', 'button', function() {
				if (this.id == 'update_package') {
					var data = package_vulnerabilities.row( $(this).parents('tr') ).data();
					if (data[0].includes("ADMIN")) {
						location.href += '/admin_update/' + data[0];
					}
					else {
						location.href += '/standard_update/' + data[0];
					}
				}
			});

			// Other table

			var JSON_update_data = {{ update_log|safe }};
			var objects;
			var update_data = [];

			for (objects in JSON_update_data['log']) {
				update_data.push( 
					[ 
						JSON_update_data['log'][objects]['original_files_path'],
						JSON_update_data['log'][objects]['update_type'],
						JSON_update_data['log'][objects]['comment'],
						JSON_update_data['log'][objects]['date'],
						JSON_update_data['log'][objects]['implementation_type']
					] 
				);
			}

			var update_log = $('#update_log').DataTable( {
				data: update_data,
				"columns" : [
					{ "data" : [0] },
					{ "data" : [1] },
					{ "data" : [2] },
					{ "data" : [3] },
					{ "data" : [4] },
					{ "defaultContent" : "<button class='btn btn-danger'>Revert Update</button>" }
				],
		        "lengthMenu":   [ 5, 10, 15 ],
		        "paging":       true,
		        "ordering":     true,
		        "order":        [[ 0, "desc" ], [ 3, "desc" ]],
		        "info":         true,
		        "searching": false,
		        stateSave: 		true
			});

			$('#update_log tbody').on('click', 'button', function() {
				var data = update_log.row( $(this).parents('tr') ).data();
				location.href += '/revert_patch/' + data[3];
			});
		});

	</script>

{% endblock %}