<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-industry.ico') }}">
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap-3.3.7-dist/css/bootstrap.css') }}" rel="stylesheet">       
        <!-- BootStrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- DataTables -->
        <link href="{{ url_for('static', filename='css/DataTables/datatables.min.css') }}" rel="stylesheet">
        <script src="{{url_for('static', filename='css/DataTables/datatables.min.js')}}"></script>
        <!-- Personal CSS -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">AutoInject</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Dashboard</a></li>
                    <li><a href="/vulnerabilities">Vulnerabilities</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text">© 2017 - Site Built By Chris Philp</p>
                <p class="navbar-text navbar-right">
                    <button type="button" class="btn-xs btn-success">System Online</button>
                </p>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>