{% extends "layout.html" %}
<!-- Title -->
{% block title %}Log{% endblock %}
<!-- Active TitleBar Name -->
{% block navitems %}
	<li><a href="/">Dashboard</a></li>
	<li><a href="/vulnerabilities">Vulnerabilities</a></li>
	<li class="active"><a href="/log">Log</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/profile">Profile</a></li>
{% endblock %}
<!-- Main content -->
{% block content %}

<div class="row">
  		<div class="col-lg-12">
    		<div class="panel panel-default">
      			<div class="panel-heading">Update Log</div>
      			<div class="panel-body">
        			<div class="row">
          				<div class="col-lg-12">
            				<div class="table-responsive">
								<table 
									id="update_log" 
									cellspacing="0"
									class="table table-bordered table-hover table-striped"  
									width="100%"
								>
							        <thead>
							            <tr>
							                <th>Package Name</th>
							                <th>File Path</th>
							                <th>Update Type</th>
							                <th>Comment</th>
							                <th>Date</th>
							                <th>Implementation Type</th>
							                <th>Type of Patch</th>
							                <th>Revert?</th> 
							            </tr>
							        </thead>
							        <tfoot>
							            <tr>
							                <th>Package Name</th>
							                <th>File Path</th>
							                <th>Update Type</th>
							                <th>Comment</th>
							                <th>Date</th>
							                <th>Implementation Type</th>
							                <th>Type of Patch</th>
							                <th>Revert?</th>  
							            </tr>
									</tfoot>
									<tbody>
									</tbody>
							    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}

	<script type='text/javascript'>

		$(document).ready(function() {

			var JSON_data = {{ package_JSON_data|safe }};
			var objects;
			var items;
			var data = [];

			for (objects in JSON_data) {
				for (items in JSON_data[objects]['log']) {
					data.push( 
						[ 
							JSON_data[objects]['package_name'],
							JSON_data[objects]['log'][items]['file_path'],
							JSON_data[objects]['log'][items]['update_type'],
							JSON_data[objects]['log'][items]['comment'],
							JSON_data[objects]['log'][items]['date'],
							JSON_data[objects]['log'][items]['implementation_type'],
							JSON_data[objects]['log'][items]['type_of_patch']
						] 
					);
				}
			}

			$('#update_log').DataTable( {
				data: 			data,
				"columns" : [
					{ "data" : [0] },
					{ "data" : [1] },
					{ "data" : [2] },
					{ "data" : [3] },
					{ "data" : [4] },
					{ "data" : [5] },
					{ "data" : [6] },
					{ "defaultContent" : "<button class='btn btn-danger'>Revert Update</button>" }
				],
		        "lengthMenu":   [ 5, 10, 15 ],
		        "paging":       true,
		        "ordering":     true,
		        "order":        [[ 0, "desc" ]],
		        "info":         true,
		        stateSave: 		true
			});
		});

	</script>

{% endblock %}