{% extends "layout.html" %}
<!-- Title -->
{% block title %}Vulnerabilities{% endblock %}
<!-- Active TitleBar Name -->
{% block active1 %}<li>{% endblock %}
{% block active2 %}<li class="active">{% endblock %}
{% block active3 %}<li>{% endblock %}
{% block active4 %}<li>{% endblock %}
<!-- Main content -->
{% block content %}
	<div class="row">
  		<div class="col-lg-12">
    		<div class="panel panel-default">
      			<div class="panel-heading">Current Vulnerabilities</div>
      			<div class="panel-body">
        			<div class="row">
          				<div class="col-lg-12">
            				<div class="table-responsive">
								<table 
									id="vulnerabilities" 
									cellspacing="0"
									class="table table-bordered table-hover table-striped"  
									width="100%"
								>
							        <thead>
							            <tr>
							                <th>Package Name</th>
							                <th>Formatted Package Name</th>
							                <th>Package Version</th>
							                <th>Architecture</th>
							            </tr>
							        </thead>
							        <tfoot>
							            <tr>
							                <th>Package Name</th>
							                <th>Formatted Package Name</th>
							                <th>Package Version</th>
							                <th>Architecture</th>
							            </tr>
									</tfoot>
									<tbody>
									</tbody>
							    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}

	<script type='text/javascript'>

		$(document).ready(function() {

			var JSON_data = {{ vulnerability_JSON_data|safe }};
			var vulnerability;
			var data = [];

			for (vulnerability in JSON_data) {	
				data.push( 
					[ 
						JSON_data[vulnerability]['package_name'],
						JSON_data[vulnerability]['formatted_package_name_with_version'],
						JSON_data[vulnerability]['version'],
						JSON_data[vulnerability]['architecture']
					] 
				);
			}
			console.log(data)

			$('#vulnerabilities').DataTable( {
				data: 			data,
		        "lengthMenu":   [ 10, 15 ],
		        "paging":       true,
		        "processing":   true,
		        "ordering":     true,
		        "order":        [[ 0, "asc" ]],
		        "info":         true,
		        stateSave: 		true
			});
		} );

	</script>

{% endblock %}